<!DOCTYPE html>
<html>
<head>
      <link rel='stylesheet' href="./css/style.css">
      <!-- <script src="./JS/index.js"></script> -->
</head>
<body>
<div class="main-contain">
     {{>header}}
 <img src="./img/destop.png"> 
  </div>
 
  {{!-- <h1>about express</h1> --}}
 
    {{>footer}}

</body>
</html>