<!DOCTYPE html>
<html>
<head>
      <link rel='stylesheet' href="./css/style.css">
      <!-- <script src="./JS/index.js"></script> -->
</head>
<body>
<div class="main-contain">
     {{>header}}
     <p>use this site for get weather</p>
  </div>
     {{>footer}}

  {{!-- <img src="./img/destop.png"> --}}
</body>
</html>