<!DOCTYPE html>
<html>
<head>
      <link rel='stylesheet' href="./css/style.css">
      <link rel='icon' href="./img/weather.png">
      {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}

</head>
<body>
  <div class="main-contain" id="total">
       <div id="head">
      <h2><i>Uphraul    Vs   Desari,   Semifinal  1</i></h2>
      {{!-- <hr> --}}
       </div>
      <div id="ff">
      <pre>UPH-1/0 (0.1)</pre>
      <pre>CRR: 6.00</pre>
      <pre>


      </pre>
      </div>
      <br/>
      <div id="gg">
      <pre>Batting                     R(B)    4s   6s  SR</pre>
      {{!-- <br/> --}}
      <pre>satyajt kuyar*              1(1)    0    0    100</pre>
      {{!-- <br/> --}}
      <pre>Indrajeet kumar             0(0)    0    0    0</pre>
      {{!-- <br/> --}}
      <br/>
      <pre>Bowling                     O       M    R    W</pre>
      <pre>vikash kumar*               0.1     0    1    0</pre>
      <pre>vikesh kumar                0       0    0    0</pre>
       <br/>
       <div id="extras">
      <hr>
      <pre>Extras 0</pre>
      <pre>(nb 0, b 0, penalty 0, w 0, lb 0)</pre>
      <hr>
        </div>
     



       </div>
  </div>
 
    {{!-- {{>footer}} --}}
  <!-- <img src="./img/destop.png"> -->
        <script src="./JS/index.js"></script>
          {{!-- <link rel='stylesheet' href="./css/style.css"> --}}


</body>
</html>