<!DOCTYPE html>
<html>
<head>
      <link rel='stylesheet' href="./css/style.css">
      <link rel='icon' href="./img/weather.png">
</head>
<body>
  <div class="main-contain">
     {{>header}}
     <p>use this site for get weather</p>
     <form>
       <input placeholder="City Name">
       ,<button>get weather</button>
     </form>
     <p id="first-1"></p>
  </div>
 
    {{>footer}}
  <!-- <img src="./img/destop.png"> -->
        <script src="./JS/index.js"></script>

</body>
</html>