<!DOCTYPE html>
<html>
<head>
      <link rel='stylesheet' href="./css/style.css">
      <link rel='icon' href="./img/weather.png">
</head>
<body>
  <div class="main-contain" id="total">
       <div id="head">
      <h2><i>Uphraul    Vs   Desari,   Semifinal  1</i></h2>
      {{!-- <hr> --}}
       </div>
      <div id="ff">
      <pre>UPH-0/0 (0)</pre>
      <pre>CRR: 0.00</pre>
      </div>
      <br/>
      <div id="gg">
      <pre>Batting                     R(B)    4s   6s  SR</pre>
      {{!-- <br/> --}}
      <pre>satyajt kumar*              0(0)    0    0    0</pre>
      {{!-- <br/> --}}
      <pre>Indrajeet kumar             0(0)    0    0    0</pre>
      {{!-- <br/> --}}
      <br/>
      <pre>Bowling                     O       M    R    W</pre>
      <pre>vikash kumar*               0       0    0    0</pre>
      <pre>vikesh kumar                0       0    0    0</pre>
       <br/>
      
       </div>
  </div>
 
    {{!-- {{>footer}} --}}
  <!-- <img src="./img/destop.png"> -->
        <script src="./JS/index.js"></script>
          {{!-- <link rel='stylesheet' href="./css/style.css"> --}}


</body>
</html>